<!-- WRITING COMMENTS FOR READABILITY AND FOR MY FUTURE REFERENCES -->
<!-- Features Section -->
<section class=" px-10 py-16 bg-gray-50">
    <div class="container mx-auto text-center pb-11">
      <!-- Section Title DO H2 AND H3 -->
      <h3 class="text-teal-600 text-sm font-semibold mb-2">OUR FEATURES</h3>

      <!-- TO BRING THE 'RIGHT HERE ' TEXT TO NEXT LINE WAS CHALLENGING; SOLN: USE max-w-[600px] mx-auto -->
      <h2 class="text-4xl font-bold text-gray-800 mb-12 max-w-[600px] mx-auto text-center break-words">Better Digital Insurance Begins Right Here</h2>
  
      <!-- Feature Cards Container -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        
        <!-- Money back Feature Card -->
        <div class="bg-white shadow-md rounded-lg p-6 text-left flex flex-col items-start">
            <div class="flex justify-start mb-4">
              <img src="assets/images/money-back.png" alt="Icon" class="w-20 h-20 text-teal-600">
            </div>
            <h4 class="text-lg font-semibold text-gray-800 mb-2">Money Back Guarantee</h4>
            <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
          </div>
        
        <!-- Claim Feature Card -->
        <div class="bg-white shadow-md rounded-lg p-6 text-left flex flex-col items-start">
            <div class="flex justify-start mb-4">
              <img src="assets/images/claim.png" alt="Icon" class="w-20 h-20 text-teal-600">
            </div>
            <h4 class="text-lg font-semibold text-gray-800 mb-2">All claims at any time</h4>
            <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
          </div>
        <!-- Single Feature Card -->
        <div class="bg-white shadow-md rounded-lg p-6 text-left flex flex-col items-start">
            <div class="flex justify-start mb-4">
              <img src="assets/images/insurance-policy.png" alt="Icon" class="w-20 h-20 text-teal-600">
            </div>
            <h4 class="text-lg font-semibold text-gray-800 mb-2">Digital Insurance Policy</h4>
            <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
          </div>
  
        <!-- Direct PaymenT  Card -->
        <div class="bg-white shadow-md rounded-lg p-6 text-left flex flex-col items-start">
            <div class="flex justify-start mb-4">
              <img src="assets/images/mobile-payment.png" alt="Icon" class="w-20 h-20 text-teal-600">
            </div>
            <h4 class="text-lg font-semibold text-gray-800 mb-2">Direct Payment App</h4>
            <p class="text-gray-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.</p>
          </div>
        
      </div>
    </div>
  </section>
  